
<html ng-app="bookIt">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
<meta name="author" content="BerariaH.ro" />
<meta name="copyright" content="Copyright 2014 BerariaH" />
<meta name="description" content="Din vara asteapta-te la ce nu te astepti. Cea mai mare berarie din estul Europei isi deschide portile, in clădirea Pavilionului H din parcul Herăstrău." />
<meta name="keywords" content="Beraria H, berarie, H, herastrau, bere, concerte, evenimente" />
<meta name="robots" content="all" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="HandheldFriendly" content="True" />
<meta name="google-site-verification" content="_q1IkuKYal89c3EDRcH3BTlysvTFLXdDMuxQ7jGAhko" />

<title>Beraria H</title>
<!-- This web site was designed and engineered by Asesoft Net. Should you, or your company, desire more information about this website or the development of community web sites or different other applications, please contact us (support at asesoftnet dot com) -->
<link rel="canonical" href="http://www.berariah.ro/" />
<script>

<!--//--><![CDATA[//><!--
(function(window, undefined){
var document = window.document, ua = window.navigator.userAgent.toLowerCase(), t = 'abbr|button|header|footer|nav'.split('|'), i = 0, len = t.length, location = window.location, handleHashbang;
handleHashbang = function(){
var hbRE = /^#!\/(.+)/
, match = hbRE.exec(location.hash)
;
// We have a hashbang in the url (begining with only)
if (match && match[1]) {
// Go to the normalized path
location.assign(match[1]);
// Stop document.load -buggy, also stops location loading
// try { window.stop(); } catch(ex1) { try { document.execCommand('stop'); } catch (ex2) {} }
}
};
handleHashbang();
document.getElementsByTagName("html")[0].className+=" "+(ua.indexOf("webkit")>=0?"webkit":ua.indexOf("opera")>=0?"opera":"");
for( ; i < len; ++i ){document.createElement(t[i]);}
})(this);
//--><!]]>
</script >
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<!-- precomposed pre iOS 7 -->
<link rel="apple-touch-icon-precomposed" href="http://berariah.ro/img/site/touch-icon-precomposed.png" />
<!-- non-retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-iphone-57.png" sizes="57x57" />
<!-- non-retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-ipad-72.png" sizes="72x72" />
<!-- non-retina iPad iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-ipad-76.png" sizes="76x76" />
<!-- retina iPhone pre iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-iphone-114.png" sizes="114x114" />
<!-- retina iPhone iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-iphone-120.png" sizes="120x120" />
<!-- retina iPad pre iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-ipad-144.png" sizes="144x144" />
<!-- retina iPad iOS 7 -->
<link rel="apple-touch-icon" href="http://berariah.ro/img/site/touch-icon-ipad-152.png" sizes="152x152" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://berariah.ro/g=app.v59.css" />

<!--[if lt IE 9]> <link rel="stylesheet" href="http://berariah.ro/g=app-ie.v59.css"> <![endif]-->
<script src="http://berariah.ro/g=modernizr.v59.js"></script>
<!--[if lt IE 9]> <script src="http://berariah.ro/js/html5shiv.min.js"></script> <![endif]-->
<script src="http://berariah.ro/g=head.v59.js"></script>
<script src="path-to/js/bootstrap-select.min.js"></script>
<script>
  $(function () { $("input,select,textarea").not("[type=submit]").jqBootstrapValidation(); } );
</script>
<script>
$(document).ready(function() {
    $('#contactForm')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                firstName: {
                    validators: {
                        notEmpty: {
                            message: 'The first name is required'
                        }
                    }
                },
                lastName: {
                    validators: {
                        notEmpty: {
                            message: 'The last name is required'
                        }
                    }
                },
                company: {
                    validators: {
                        notEmpty: {
                            message: 'The company name is required'
                        }
                    }
                },
                // These fields will be validated when being visible
                job: {
                    validators: {
                        notEmpty: {
                            message: 'The job title is required'
                        }
                    }
                },
                department: {
                    validators: {
                        notEmpty: {
                            message: 'The department name is required'
                        }
                    }
                },
                mobilePhone: {
                    validators: {
                        notEmpty: {
                            message: 'The mobile phone number is required'
                        },
                        digits: {
                            message: 'The mobile phone number is not valid'
                        }
                    }
                },
                // These fields will be validated when being visible
                homePhone: {
                    validators: {
                        digits: {
                            message: 'The home phone number is not valid'
                        }
                    }
                },
                officePhone: {
                    validators: {
                        digits: {
                            message: 'The office phone number is not valid'
                        }
                    }
                }
            }
        })
        .on('click', 'button[data-toggle]', function() {
            var $target = $($(this).attr('data-toggle'));
            $target.toggle();
            if (!$target.is(':visible')) {
                // Enable the submit buttons in case additional fields are not valid
                $('#contactForm').data('formValidation').disableSubmitButtons(false);
            }
        });
});
</script>
<style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
  	background-color: orange;
    border-radius: 32px;
    color: black;
  }
  #section {
  	padding-top: 8%;
	padding-bottom: 5%;
  }

</style>
</head>

<body class="">



	<div id="ajax-container">
		<div class="navbar navbar-fixed-top navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-logo" href="#/"><img src="http://berariah.ro/img/site/bh_logo.png?59" /></a>
                    <div class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li class="">
								<a data-toggle="dropdown" class="dropdown-toggle" href="#/">Evenimente <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="#/">Evenimente viitoare</a></li>
									<li><a href="#/">Evenimente incheiate</a></li>
								</ul>
							</li>
							
							<li class=""><a href="#/">Meniu</a></li>
							<li class=""><a href="#/">Galerii</a></li>
							<li class=""><a href="#/">Magazin</a></li>
							<li class=""><a href="#/">Blog</a></li>
							
							
							
							<li class=""><a href="#/">Contact</a></li>
							<li class=""><a href="#/">Log In</a></li>
						</ul>
						
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#/"><img src="http://berariah.ro/img/site/flag_en.gif" /></a></li>
						</ul>		  
					</div><!-- /.nav-collapse -->
				</div><!-- /.nav-header -->
			</div><!-- /.container -->
		</div><!-- /.navbar -->
	</div><!-- /.ajax-container-->

	<div id="section" class="container">
    	<form name='contactForm' ng-controller="FormController" data-toggle="validator" onsubmit="setTimeout('parent.location.reload()',500);">
      	
      		<pre>Reservation for: <em>{{reservation_date | date:'fullDate' }}<br>Reservation starting hour: {{reservation_date| date:'shortTime' }}</em> <br>Contact Details: <em>{{contact}} {{dining_table_id}}</em><br>Zone id: <em>{{dining_table.zone_id}}</em></pre>

      		{{error}}
        
	    
	    
	    	<div class="row">
	    	<!-- RESERVATION DATE -->
		        <div class="col-xs-4">
	            	<label for="exampleDate">Date & Time</label>

	            	<p class="input-group">
                		<input type="text" class="form-control" datetime-picker="dd MMM yyyy HH:mm" ng-model="reservation_date" is-open="open.date3" ng-required='true'/>
                		<span class="input-group-btn">
                    		<button type="button" class="btn btn-default" ng-click="openCalendar($event, 'date3')"><i class="fa fa-calendar"></i></button>
                		</span>
            		</p>
            	</div>

				<!-- RESERVATION ZONE -->
				<div class="col-xs-4" dropdown>
					<label for="exampleDate">Zone</label>
					<select required class="form-control" name='zone[name]' ng-change="filterOutDiningTables()" ng-model="dining_table.zone_id" ng-options="zone.id as zone.name for zone in zones" required><option></option></select>
			    </div>

				<!-- DINING TABLE SEATS -->	
				<div class="col-xs-4" ng-class="{ 'has-error' : contactForm.dining_table[id].$invalid && !contactForm.dining_table[id].$pristine }">
					<label for="dining_table[id]">Seats / Dining Table</label>
					<select class="form-control" name='dining_table[id]' ng-model="dining_table_id" ng-options="dining_table.id as dining_table.seat +' (' + dining_table.zone_id + ')' for dining_table in dining_tables | orderBy:'seat'" required><option></option></select>
				</div>
			</div> <!-- /row-->
			<br />

	        <!-- CONTACT FIRST NAME -->
	  		<div class="form-group" >
	    		<label for="contact[first_name]">First Name</label>
	   			<input type="text" name="contact[first_name]" ng-model="contact.first_name" class="form-control" placeholder="Eriksen" required>
	  
	  		</div>

	        <!-- CONTACT LAST NAME -->
	  		<div class="form-group" >
	    		<label for="contact[last_name]">Last Name</label>
	    		<input type="text" name="contact[last_name]" ng-model="contact.last_name" class="form-control" placeholder="George" required>
	  		</div>

	        <!-- CONTACT PHONE NUMBER -->
	  		<div class="form-group" ng-class="{ 'has-error' : contactForm.phone_number.$invalid && !contactForm.phone_number.$pristine }" >
	    		<label for="contact[phone_number]">Phone Number</label>
	    		<input type="text" name="phone_number" ng-model="contact.phone_number" require ng-pattern="/^[0-9]+$/" class="form-control" ng-minlength="10"  required>
	  			<p ng-show="contactForm.phone_number.$invalid && !contactForm.phone_number.$pristine" class="help-block">Enter a valid phone number.</p>
	  			<p ng-show="contactForm.phone_number.$error.minlength" class="help-block">Phone number is too short.</p>
	  		</div>

	  		<!-- CONTACT EMAIL -->
	  		<!-- <div class="form-group">
			    <label for="contact[email]">Email</label>
			    <input type="text" name="contact[email]" ng-model="contact.email" class="form-control" placeholder="george.eriksen@example.com">
	  		</div> -->
		  	<div class="form-group" ng-class="{ 'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine }">
	            <label>Email</label>
	            <input type="email" name="email" class="form-control" ng-model="contact.email">
	            <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
	        </div>

	  		<!-- RESERVATION OBSERVATION -->
	  		<div class="form-group">
			    <label for="InputEmail">Observations</label>
				<textarea class="form-control" rows="3" name='reservation[observation]' ng-model='reservation_observation'></textarea>
			</div>

	  		<hr />
	  		<!-- SUBMIT BUTTON -->	
	  		<button type="submit" vaklue="submit" ng-click='createContact()' name="commit" class="btn btn-default" >Submit</button>
		</form>
	</div>
</body>
</html>